.tile
{
  float: left;
  width: 300px;
  margin: 15px;
  margin-left: 8vw;
}

/* Set a style for all buttons */
.enl
{
    background-color: inherit;
    color: Black;
    border: none;
    cursor: pointer;
}

img:hover
{
    opacity: 0.6;
}
