.tile
{
  float: left;
  width: 300px;
  margin: 15px;
  margin-left: 8vw;
}

/* Set a style for all buttons */
.enl
{
    background-color: inherit;
    color: Black;
    /*padding: 7px 7px 7px 7px;*/
    /*margin: 8px 0;*/
    border: none;
    cursor: pointer;
    /*width: 85%;*/
}

.enl:hover
{
    opacity: 0.6;
}
