body {
  background-color: #4a4949; }

.tabs {
  font-size: 35px;
  color: white;
  padding-top: 15px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.contact {
  padding: 1.5vh 3vw 1.5vh 4vw;
  font-size: 28px;
  background-color: gray;
  border-radius: 5px; }

.select {
  position: absolute; }

a:link {
  text-decoration: none;
  color: inherit; }

a:hover {
  background-color: #4a4949; }

@media (min-width: 750px) {
  .contact {
    display: none; }
  .tabs {
    height: 140px; } }
