body
{
  background-color:#4a4949;
}

.tabs
{
  font-size:35px;
  color:white;
  padding-top: 15px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.contact
{
  padding:.5vh 3vw .5vh 3vw;
  width: 34vw;
  font-size:30px;
  background-color:gray;
  border-radius:5px;
}

.select
{
  position: absolute;
}
